<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="start Up MatchMaker" content="Because two brains are better than one"
    	
	
		<title>Startup Matchmaker</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<div id="container">
			<header>
				<h1>Startup Matchmaker</h1>
				<ul>
					<li><a href="#">Find Developers</a></li>
					<li><a href="#">Find Designers</a></li>
					<li><a href="#">How it Works</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Blog</a></li>
				</ul>	
			</header> 	
			<div id="subheader">
					<h2>Because two brains are better than one.</h2>
			</div>
			<div id="picture">
				<img src="StartupMatchmaker.png">
				<div id="overlay">
					<h3>Meet Your Match!</h3>
					<p>Have a great idea for a product, but need help making it a reality? We're here to help. Startup Matchmaker is the best place for designers and developers to find each other.</p>
					<a href="#">Create a Profile"</a>
				</div>
			</div>	
			<div id="subfooter">
				<div id="create-profile">
					<h3>Create a Profile</h3>
					<p>Are you</p>
				</div>
				<div id="Find-A-Developer">
					<h3>Find a Developer</h3>
				</div>
				<div id="Find-a-Designer">
					
				</div>

			</div>
			<footer>
				<h4>2013 Startup Matchmarker. Made in NY
				&copy; Footer Goes Here
			</footer>
		</div><!-- #container --> 
	</body>
</html>